Sources/TaskManager.Client/Connected Services/TaskManagerServices/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TaskManager.Data.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServices_InsertTask_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTask" />
  </wsdl:message>
  <wsdl:message name="IServices_InsertTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_UpdateTask_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTask" />
  </wsdl:message>
  <wsdl:message name="IServices_UpdateTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_DeleteTask_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTask" />
  </wsdl:message>
  <wsdl:message name="IServices_DeleteTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetAllTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasks" />
  </wsdl:message>
  <wsdl:message name="IServices_GetAllTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetTaskById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskById" />
  </wsdl:message>
  <wsdl:message name="IServices_GetTaskById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetAllStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStatus" />
  </wsdl:message>
  <wsdl:message name="IServices_GetAllStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_InsertProject_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProject" />
  </wsdl:message>
  <wsdl:message name="IServices_InsertProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetAllProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProjects" />
  </wsdl:message>
  <wsdl:message name="IServices_GetAllProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetProjectByProjectId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectByProjectId" />
  </wsdl:message>
  <wsdl:message name="IServices_GetProjectByProjectId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectByProjectIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_UpdateProject_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProject" />
  </wsdl:message>
  <wsdl:message name="IServices_UpdateProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_DeleteProject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProject" />
  </wsdl:message>
  <wsdl:message name="IServices_DeleteProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_InsertPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPerson" />
  </wsdl:message>
  <wsdl:message name="IServices_InsertPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetAllPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersons" />
  </wsdl:message>
  <wsdl:message name="IServices_GetAllPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetPersonById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonById" />
  </wsdl:message>
  <wsdl:message name="IServices_GetPersonById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_UpdatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePerson" />
  </wsdl:message>
  <wsdl:message name="IServices_UpdatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_DeletePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePerson" />
  </wsdl:message>
  <wsdl:message name="IServices_DeletePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonResponse" />
  </wsdl:message>
  <wsdl:portType name="IServices">
    <wsdl:operation name="InsertTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/InsertTask" message="tns:IServices_InsertTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/InsertTaskResponse" message="tns:IServices_InsertTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/UpdateTask" message="tns:IServices_UpdateTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/UpdateTaskResponse" message="tns:IServices_UpdateTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/DeleteTask" message="tns:IServices_DeleteTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/DeleteTaskResponse" message="tns:IServices_DeleteTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetAllTasks" message="tns:IServices_GetAllTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetAllTasksResponse" message="tns:IServices_GetAllTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetTaskById" message="tns:IServices_GetTaskById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetTaskByIdResponse" message="tns:IServices_GetTaskById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetAllStatus" message="tns:IServices_GetAllStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetAllStatusResponse" message="tns:IServices_GetAllStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/InsertProject" message="tns:IServices_InsertProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/InsertProjectResponse" message="tns:IServices_InsertProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetAllProjects" message="tns:IServices_GetAllProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetAllProjectsResponse" message="tns:IServices_GetAllProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectByProjectId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetProjectByProjectId" message="tns:IServices_GetProjectByProjectId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetProjectByProjectIdResponse" message="tns:IServices_GetProjectByProjectId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/UpdateProject" message="tns:IServices_UpdateProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/UpdateProjectResponse" message="tns:IServices_UpdateProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/DeleteProject" message="tns:IServices_DeleteProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/DeleteProjectResponse" message="tns:IServices_DeleteProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/InsertPerson" message="tns:IServices_InsertPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/InsertPersonResponse" message="tns:IServices_InsertPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetAllPersons" message="tns:IServices_GetAllPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetAllPersonsResponse" message="tns:IServices_GetAllPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetPersonById" message="tns:IServices_GetPersonById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetPersonByIdResponse" message="tns:IServices_GetPersonById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/UpdatePerson" message="tns:IServices_UpdatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/UpdatePersonResponse" message="tns:IServices_UpdatePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/DeletePerson" message="tns:IServices_DeletePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/DeletePersonResponse" message="tns:IServices_DeletePerson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServices" type="tns:IServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertTask">
      <soap:operation soapAction="http://tempuri.org/IServices/InsertTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTask">
      <soap:operation soapAction="http://tempuri.org/IServices/UpdateTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap:operation soapAction="http://tempuri.org/IServices/DeleteTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTasks">
      <soap:operation soapAction="http://tempuri.org/IServices/GetAllTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskById">
      <soap:operation soapAction="http://tempuri.org/IServices/GetTaskById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStatus">
      <soap:operation soapAction="http://tempuri.org/IServices/GetAllStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProject">
      <soap:operation soapAction="http://tempuri.org/IServices/InsertProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProjects">
      <soap:operation soapAction="http://tempuri.org/IServices/GetAllProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectByProjectId">
      <soap:operation soapAction="http://tempuri.org/IServices/GetProjectByProjectId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProject">
      <soap:operation soapAction="http://tempuri.org/IServices/UpdateProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <soap:operation soapAction="http://tempuri.org/IServices/DeleteProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPerson">
      <soap:operation soapAction="http://tempuri.org/IServices/InsertPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPersons">
      <soap:operation soapAction="http://tempuri.org/IServices/GetAllPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonById">
      <soap:operation soapAction="http://tempuri.org/IServices/GetPersonById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <soap:operation soapAction="http://tempuri.org/IServices/UpdatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap:operation soapAction="http://tempuri.org/IServices/DeletePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="BasicHttpBinding_IServices" binding="tns:BasicHttpBinding_IServices">
      <soap:address location="http://localhost:8733/TaskManager.Services/Services/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>